*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	overflow: hidden;
	background-color: white;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	font-family: 'Press Start 2P', cursive;
}

#container {
	position: relative;
	display: inline-block;
}

#health-bar {
	position: absolute;
	display: flex;
	align-items: center;
	width: 100%;
	padding: 20px;
}

/* player health */
#player-bar {
	position: relative;
	width: 100%;
	border-top: 4px solid white;
	border-left: 4px solid white;
	border-bottom: 4px solid white;
}

#player-health {
	background-color: red;
	height: 30px;
	width: 100%;
}

#player-health-decrease-bar {
	position: absolute;
	background-color: #818cf8;
	top: 0;
	right: 0;
	bottom: 0;
	width: 100%;
}

/*  enemy health */
#enemy-bar {
	position: relative;
	width: 100%;
	border-top: 4px solid white;
	border-right: 4px solid white;
	border-bottom: 4px solid white;
}

#enemy-health {
	background-color: red;
	height: 30px;
}

#enemy-health-decrease-bar {
	position: absolute;
	background-color: #818cf8;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

#timer {
	background-color: black;
	width: 100px;
	height: 50px;
	flex-shrink: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
	border: 4px solid white;
}

#display-result {
	position: absolute;
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: none;
}

.player-tutorial {
	/* display: flex; */
	display: none;
	flex-direction: column;
	position: absolute;
	top: 20%;
	left: 20%;
}

.player-tutorial h2 {
	/* display: flex; */
	display: none;
	align-items: center;
	justify-content: center;
	width: 40px;
	height: 40px;
	background-color: #d3d3d3c7;
	border: 5px inset #808080b3;
	color: white;
	text-shadow: 1px 0px 1px black;
}
